h2 {
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0.5em;
    background-color: lightblue;
}

nav li {
    text-align: center;
    display: inline-block;
    padding: 0 1em;
}

.content {
    text-align: center;
}

.content h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}

img {
    border: solid red 2px;
}

.messages {
    text-align: center;
}
