<!DOCTYPE html>
<html>

<head>
  <title>Application</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h2>Main page</h2>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <p style="color: navy;">
      This is an application that introduces five known security flaws and fixes them.
      The flaws and their fixes will be listed on this main page.</br>
      It was created by user <a href="https://github.com/vainiovesa">vainiovesa</a> on Github for a course project.
    </p>
  </div>
</body>

</html>