<!DOCTYPE html>
<html>

<head>
  <title>Application</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h2>Main page</h2>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% if session.user_id %}
          <li><a href="/{{ session.user_id }}">Secret message</a></li>
          <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  
  <div class="messages">
    {% for message in get_flashed_messages() %}
    <p>
    <b>{{ message }}</b>
    </p>
    {% endfor %}
  </div>
  
  <div class="content" style="color: navy;">
    <p>
      This is an application that introduces five known security flaws and fixes them.
      The flaws and their fixes will be listed on this main page.</br>
      It was created by user <a href="https://github.com/vainiovesa">vainiovesa</a> on Github for a course project.
    </p>

    <h2>1. Injection</h2>
    <p>
      According to <a href="https://owasp.org/Top10/A03_2021-Injection/">OWASP</a>, an application is vulnerable to
      injection when user-supplied data is not sanitazed. </br>
      In this application, the user was able to log in as any user with a specially crafted SQL command due to the
      functionality of the login function. 
    </p>
    <img src="/static/flaw-1-before-1.png" alt="Login function before" width="30%">
    <img src="/static/flaw-1-before-2.png" alt="Injection SQL command" width="30%">
    <p>
      Here, the SQL command that is run reads "SELECT id, password FROM Users WHERE username = 'a' AND 1=2 UNION
      SELECT 1, 'a' WHERE 'a'='a'" and returns </br>
      id 1 and password "a". By logging in with password "a", an attacker is now logged in as user with the id 1.
    </p>
    <img src="/static/flaw-1-before-3.png" alt="Attacker logged in" width="30%">
    <p>
      Python's sqlite3 module offers a solution to this problem. Using parameters, the user input is sanitazed and
      SQL injection attacks are prevented.
    </p>
    <img src="/static/flaw-1-after-1.png" alt="Login function after" width="30%">
    <img src="/static/flaw-1-after-2.png" alt="Injection SQL command not working" width="30%">

    <h2>2. Identification and Authentication Failures </h2>
    <p>
      According to <a href="https://owasp.org/Top10/A07_2021-Identification_and_Authentication_Failures/">OWASP</a>,
      an application is vulnerable to this flaw when it permits weak passwords or stores them as plain text. </br>
      This application had both of these vulnerabilities present.
    </p>
    <img src="/static/flaw-2-before-1.png" alt="Creating account with weak password" width="20%">
    <img src="/static/flaw-2-before-2.png" alt="Account created" width="20%">
    <img src="/static/flaw-2-before-3.png" alt="User in the database before" width="20%">
    <p>
      The problem of the weak passwords is solved using password checking. The application now checks that a
      provided password does not match with the username </br>
      and contains at least 8 characters that include letters, numbers and punctuation characters.
    </p>
    <img src="/static/flaw-2-after-1.png" alt="Weak password attempt 1" width="18%">
    <img src="/static/flaw-2-after-2.png" alt="Weak password attempt 2" width="18%">
    <img src="/static/flaw-2-after-3.png" alt="Checking password" width="24%">
    <p>
      The passwords are now stored not as plain text but as hashes using Python's Werkzeug library. If the information
      about users got leaked, the passwords would still </br>
      not be easy to access.
    </p>
    <img src="/static/flaw-2-after-4.png" alt="" width="34%">
    <img src="/static/flaw-2-after-5.png" alt="" width="26%"> </br>
    <img src="/static/flaw-2-after-6.png" alt="" width="60%">

    <h2>3. Broken Access Control</h2>
    <p>
      According to <a href="https://owasp.org/Top10/A01_2021-Broken_Access_Control/">OWASP</a>, an application has broken access
      control if a user is able to bypass access control checks by modifying the URL or acting as a user without </br>
      being logged in. In the current state of the application, a user can access other users' secret message pages by
      modifying the URL even without being logged in.
    </p>
    <img src="/static/flaw-3-before-1.png" alt="" width="20%">
    <img src="/static/flaw-3-before-2.png" alt="" width="10%">
    
  </div>
</body>

</html>