<!DOCTYPE html>
<html>

<head>
  <title>Application</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h2>Login</h2>
  </div>

  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </div>

  <div class="messages">
    {% for message in get_flashed_messages() %}
    <p>
    <b>{{ message }}</b>
    </p>
    {% endfor %}
  </div>

  <div class="content">
    <p>Login to application</p>
    <form action="/login" method="post">
      <p>
        <label for="username">Username</label>:<br />
        <input type="text" name="username" id="username" required />
      </p>
      <p>
        <label for="password">Password</label>:<br />
        <input type="password" name="password" id="password" required />
      </p>
      <input type="submit" value="Login" name="login" />
    </form>
  </div>
</body>

</html>